GEMINI_API_KEY=AIzaSyD1beA-eC5qC34isQ6xdFH_LXySCChYaNw
RESEND_API_KEY=re_TuZwzy55_2RjUcGfk4Sgefv3sqmy4vp9a
MONGO_URI=mongodb+srv://abhiramvp2005_db_user:CJEH6DNH67HEgQVg@cluster0.n9mxtaz.mongodb.net/?appName=Cluster0
EMAIL_TO=s.p.darshan0417@gmail.com
